/* Copyright 2013 Michael Bostock. All rights reserved. Do not copy. */

text {
    font-size: 10px;
}

.bar {
    fill: #EEEEEE;
}

.canvas{
    border:1px solid gray;
    border-radius: 15px;
    -moz-border-radius: 15px;
    padding-bottom: 10px;
}

.axis {
  font: 10px sans-serif;
  }

  .axis path,
  .axis line {
    fill: none;
  stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}


