<!DOCTYPE html>
<html class="ocks-org do-not-copy">
<head>
    <meta charset="utf-8">
    <title>Amazon Product Review</title>
</head>
<style>

@import url(../style.css);

.background {
  fill: #eee;
}

line {
  stroke: #fff;
}

text.active {
  fill: red;
}

</style>
<h1>Amazon Product Review</h1>

<aside style="margin-top:80px;">
<p>Feature: <select id="feature">
</select>
<button id="addFeature">Add</button>
</p>
</aside>

<script src="http://d3js.org/d3.v2.min.js?2.8.1"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="main.js"></script>
