<!DOCTYPE html>
<html class="ocks-org do-not-copy">
<head>
    <meta charset="utf-8">
    <title>Amazon Product Review Visualization</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap-multiselect.css">
    <script src="http://d3js.org/d3.v2.min.js?2.8.1"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="scripts/d3.layout.cloud.js"></script>
    <script src="scripts/bootstrap-multiselect.js"></script>
    <script src="scripts/reviewScore.js"></script>
    <script src="scripts/word.js"></script>
    <script src="scripts/compare.js"></script>
</head>
<style>
.background {
  fill: #eee;
}

line {
  stroke: #fff;
}
</style>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <a class="navbar-brand" href="#">Amazon Product Review Visualization</a>
    </nav>

    <div id="main" class="container">
        <div class="row" style="margin-bottom: 10px">
            <div style="display:inline">
                <h4 style="display:inline; margin-right: 5px; margin-left: 15px">Product Comparison:</h4>
                <select id="feature" multiple="multiple">
                </select>
            </div>
        </div>
        <div class="row">
            <div id="canvas" class="col-xs-12 col-md-12 canvas">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-6">
                <h4>Product Review Score:</h4>
            </div>
            <div class="col-xs-5 col-md-5 col-md-offset-1">
                <h4>Word Cloud:</h4>
            </div>
        </div>
        <div class="row" style="margin-top: 5px;">
            <div id="product" class="col-xs-6 col-md-6 canvas" style="min-height: 400px; padding-top: 25px">
            </div>
            <div id="word-cloud" class="col-xs-5 col-md-5 col-md-offset-1 canvas" style="min-height: 400px; padding-top: 25px">
            </div>
        </div>
    </div>
    <script src="scripts/main.js"></script>
</body>
</html>
